pipeline/pl_migration_ss.json
{
	"name": "pl_migration_ss",
	"properties": {
		"activities": [
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetaData').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_onprem_data",
							"description": "Copy my on prem data (devoncloud) to cloud (devcloudsep)",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetOldWM",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "GetNewWM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "Select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('GetOldWM').output.firstRow.OLDWM}' AND @{item().WaterMark_Column} <= '@{activity('GetNewWM').output.firstRow.NEWWM}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": {
											"value": "@array(item().MERGE_KEY)",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onprem_ss",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_cloud_ss",
									"type": "DatasetReference",
									"parameters": {
										"ds_database_name": "devcloudsep",
										"ds_table_name": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetOldWM",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "Select WatermarkValue as OLDWM from watermarktable where TableName='@{item().TABLE_NAME}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_cloud_ss",
									"type": "DatasetReference",
									"parameters": {
										"ds_database_name": "devcloudsep"
									}
								}
							}
						},
						{
							"name": "GetNewWM",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "Select max(@{item().WaterMark_Column}) as NEWWM from @{item().TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onprem_ss",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "update_wm",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_onprem_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@{activity('GetNewWM').output.firstRow.NEWWM}",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"TableName": {
										"value": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_cloud_ss",
								"type": "LinkedServiceReference",
								"parameters": {
									"database_name": "devcloudsep"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetMetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_metadata_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-10-13T15:36:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}